[submodule "src/GilgaMesh"]
	path = src/GilgaMesh
	url = https://github.com/n8fr8/gilgamesh.git
[submodule "src/EnsiChat"]
	path = src/EnsiChat
	url = https://github.com/Nutomic/ensichat.git
[submodule "src/BLEMeshChat"]
	path = src/BLEMeshChat
	url = https://github.com/chrisballinger/BLEMeshChat.git
[submodule "src/AirShare"]
	path = src/AirShare
	url = https://github.com/chrisballinger/AirShare.git
[submodule "src/BatPhone"]
	path = src/BatPhone
	url = https://github.com/servalproject/batphone.git
[submodule "src/Briar"]
	path = src/Briar
	url = https://code.briarproject.org/akwizgran/briar.git
[submodule "src/PirateBox-Mesh"]
	path = src/PirateBox-Mesh
	url = https://github.com/PirateBox-Dev/PirateBox-Mesh.git
